env:
  global:
    - CC_TEST_REPORTER_ID=575206a0cd09b1027a40c9a0fb71da087210b8ec433c80e9136a1345de5cc842
language: node_js
node_js:
  - "6"
cache:
  directories:
    - node_modules
install:
  - npm install
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run lint
  - npm run test
  - npm run bundle
after_script:
  - ./cc-test-reporter after-build -t lcov --debug --exit-code $TRAVIS_TEST_RESULT
